
\appendix

\chapter{Digitature}

A standard electronic document that is entirely similar in form to its printed counterpart bar the fact that the pages are virtual is a bridge form.
	It is crucial to the complete understanding of the typology and framework being developed here that electronic documents appear under the heading of form. After all, electronic documents come in different formats – electronic documents are data and data as we have said is form. It is tempting to mentally file electronic documents as digital media and so slot them into the typology and framework under the heading of medium but that would be thinking about things incorrectly.
	It must be truly grasped that everything under consideration here is tinged with the digital so it makes little sense in pointing out whether some object is born digital or not. That being the case every traditional philosophical activity that results in some written output which has been translated to the digital and online world has merely changed medium and has had its form inflected to the degree that the translation has taken advantage of the new medium. Not to belabour the point but to reinforce it, medium as a property matters in that it animates this entire discussion, but once we delve inside secondary properties matter.
	By digital philosophy software (if one can overlook the redundancy) is meant software written for the purpose of doing philosophy specifically or written for a more general use case and then used by a philosophy project.
	Even though philosophers, like everyone else, use word processing software – because the output of the word processor is a form that is almost unchanged from its traditional counterpart I am reluctant to include in this appendix word processing software and other examples of software like it. From our perspective, once a type of software becomes ubiquitous it becomes uninteresting. But it would also be short-sighted to not recognise that the humble word processor has radically changed how philosophy is produced. I think it safe to conjecture that no publishing house accepts hand-written philosophical scribblings.
	(Natural language text itself is opaque to the machine, it's unstructured, or better, yet-to-be-structured.)
	Blogs are a different beast, blogs are a radically new use of the digital medium. In this sense, a medievalist with a blog is a digital humanist, but a limited one because the text is, as we said, opaque – what we have here is an advancing example of computer-mediated communication. Imagine if one were able to time-travel someone from the age of the Republic of Letters to the present day and upon arrival you demonstrated to them the humble blog – once they had recovered from the shock of time travel itself they would be astounded beyond belief at something we view as perfectly ordinary now. One of the tricks of being able to apprehend the world as it is and not as we have become used to involves this shift in perspective.

– Remember: All the above does not mean that digital philosophy software must be represented by code and data. Because the manual use of computers can generate data. One can have produce data without writing code, but rarely code without data.

– Remember: Code is data that a microprocessor executes procedurally and methodically.

– Remember: From my end: go through my spreadsheet, then go through Zotero! From their end: Go through Philosophome, ugh. Go through Pictures of Philosophy. Any other list I can find.

<% @entries.each do |entry| %>

* <%= entry.title %>

<% end %>
